body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    align-items: center;
    background-color: rgb(15, 24, 188);
    padding: 10px;
    color:#ccc
}

.header-image {
    width: 100px;
    height: auto;
    margin-right: 20px;
}

.institute-name {
    font-size: 24px;
    margin-bottom: 5px;
}

.institute-address {
    font-size: 16px;
    margin: 0;
}

.student-details,
.course-details,
.eligibility-details {
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
}

.student-details h2,
.course-details h2,
.eligibility-details h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.eligibility-details textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    padding: 10px;
}

.eligibility-details button {
    background-color: #0559f5;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 10px;
    
}

.eligibility-details button:nth-child(3) {
    background-color: #F00;
}
#approve-btn {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  #reject-btn {
    background-color: rgb(255, 55, 0);
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }  
