.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}



/* Add this to your CSS if it's not already present to ensure the grey option is styled correctly */
.option-gray {
  color: #D3D3D3; /* Bootstrap's default grey */
}
