body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    align-items: center;
    background-color: #f1f1f1;
    padding: 20px;
}
.header-image {
    padding-right: 15px;
    padding-left: 5px;
}

.kkwagh {
    display: flex;
    align-items: center;
    background-color: #0d6efd;
    padding: 10px;
    border: 1px solid #0d6efd;
    box-shadow: 5px 10px 18px #737373;
    border-radius: 20px;
}
.header-image {
    width: 100px;
    height: auto;
    margin-right: 20px; /* Adjust the margin as needed */
}

.institute-name {
    font-size: 24px;
    margin-bottom: 5px;
}

.institute-address {
    font-size: 16px;
    margin: 0;
}


.student-details,
.course-details,
.eligibility-details,
.apply-button {
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
}

.student-details h2,
.course-details h2,
.eligibility-details h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.apply-button a {
    background-color: #0d6efd;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.apply-button p {
    font-size: 12px;
    margin-top: 10px;
}
