<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://kit.fontawesome.com/48bcbf2c30.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student</title>
    <link rel="stylesheet" href="\css\pfp.css">
<body>
    <header>
        <div class="info-header">
            K.K. Wagh Institute of Engineering Education & Research (Autonomous)  
            <br>
            <p>Hirabai Haridas Vidyanagri, Amrutdham, Panchavati, Nashik</p>
        </div>
    </header>

    
</body>
</html>
