<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student</title>
    <link rel="stylesheet" href="css/pfp.css">
<body>
    <header>
        <div class="info-header">
            K.K. Wagh Institute of Engineering Education & Research (Autonomous)  <a href="notif.html"><i class="fa-solid fa-bell"></i></a>
            <br>
            <p>Hirabai Haridas Vidyanagri, Amrutdham, Panchavati, Nashik</p>
        </div>
    </header>
    <form method="POST" action="/crudop">
        
        <div class="form-outline mb-4">
          
          <input required
            type="file"
            class="form-control form-control-lg"
            placeholder="Enter a valid CRN"
          />
        </div>
      
        <div
          class="d-flex justify-content-between align-items-center"
        ></div>
        <div class="text-center text-lg-start mt-4 pt-2">
          <button
            type="submit"
            name="submitform"
            class="btn btn-primary btn-lg"
            style="padding-left: 2.5rem; padding-right: 2.5rem">
            Submit
          </button>
        </div>
      </form>
</body>
</html>
<script src="https://kit.fontawesome.com/48bcbf2c30.js" crossorigin="anonymous"></script>