<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Re-enter Password</title>
</head>
<body>
    <h1>Re-enter Password</h1>
    <form action="/change_password" method="post">
    <label for="email">Enter Email:</label><br>
    <input type="email" id="email" name="email" required><br><br>
    <label for="password">Enter New Password:</label><br>
    <input type="password" id="password" name="password" required><br><br>
    <label for="confirm_password">Confirm New Password:</label><br>
    <input type="password" id="confirm_password" name="confirm_password" required><br><br>
    <button type="submit">Change Password</button>
</form>
</body>
</html>
